
body{
    padding: 0;
    margin: 0;
    /* backgr/ound-color: whitesmoke; */
}
.images-size{
    width: 100px;
}
.text-color{
    color: #330603;
}
.search-bar{
    height: 50px;
    width: 70%;
    border-radius: 50px;
}