
body{
    padding: 0;
    margin: 0;
    /* background-color: whitesmoke; */
}
.logo-image{
    width: 100px;
}
.text-color{
    color: #330603;
}
.search-bar{
    color: white;
    height: 50px;
    width: 70%;
    border-radius: 5px;
    background-color: #e7fcd3;
}
.img-size{
    width: 20%;
    border-radius: 10px;
    /* display: flex;  */
    /* float: left; */
}
